<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Home Page</title>
</head>
<body>
     
    <img src="static/chatbot.jpg"  alt="Chatbot Image">
    <h1> Artificial Intelligence ChatBot for University</h1>
    <h3>Developed by<br> Arbaazkhan R <br>Soudagar</h3>
    
   
    <div class="homepage">
        
    

    
    <form method="POST">


        <button type="submit" name="btn" value="visitor" 
        style="height:50px; 
        width:120px; 
        text-align: center; 
        font-family: 'Times New Roman', Times, serif;
        color: rgb(7, 7, 7);
        font-weight: bold;
        
        position: absolute;
        top: 70%; 
        left: 80%;
        border-radius: 15px;
        background-color: rgb(252, 252, 252);
        font-size :25px; ">Visit</button>



        <button name="btn" value="admin" style="height:50px; 
        width:120px;
        position: absolute; 
        text-align: center; 
        border-radius: 15px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(7, 7, 7);
        font-weight: bold;

        
        top: 80%;
        left: 56.3%; 
        background-color: rgb(242, 245, 243);
        font-size :25px; ;
        margin-left: 300px;">Admin</button>
        


    </form>

    


</div>

    
</body>
</html>