<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{
            border: 2px solid black ;
            font-size: 18px;
            text-align: center;
        }

    </style>
</head>
<body>
    <h1 style="text-align: center;">Visited Users information</h1>
    <form action="/btnsite" method="POST">
    <table style="width: 100%;">
        
        <tr>
            <th>Sl.no</th>            
            <th>Name</th>            
            <th>E-mail</th>            
            <th>Phone no</th>            
            <th>Interestedbranch</th>            

        </tr>

        
        {%for row in web %} 
        {% if(loop.index > 1) %}
        
        <tr>
            <td>{{loop.index-1}}</td>
            <td><button name="btn" value={{row.mobileno}}>{{row.name}} </button></td>
            <td>{{row.email}}</td>
            <td>{{row.mobileno}}</td>
            <td>{{row.Interestedbranch}}</td>
        </tr>
        {% endif %}
        {% endfor %}

    </table>
</form>
    <form action="/deletedata" method="POST">
        <button type="submit" name="btn" value="logout">LogOut</button>
        <button type="delete" name="btn" value="del">Delete</button>
        

    </form>
</body>
</html>